<div class="container">
  <div class="row">
    <div class="col-md-6">
      <video id="localVideo" playsinline autoplay muted></video>
    </div>
    <div class="col-md-6">
      <video id="remoteVideo" playsinline autoplay></video>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary mr-2" [disabled]="started" (click)="start()">Start</button>
      <button type="button" class="btn btn-success" [disabled]="!started" (click)="call()">Call</button>
      <button type="button" class="btn btn-danger" [disabled]="!called" (click)="hangUp()">Hang up</button>
    </div>
  </div>
</div>